.newsItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    padding: 2%;
    img {
        width: 30%;
        object-fit: contain;
    }
    .info {
        h2 {
            padding: 0 2% 2% 2%;
            font-size: 18px;
            font-weight: bold;
        }
        p{
            padding: 0 2% 2% 2%;
            font-size: 15px;
        }        
    }

}