.newsItemIntro {
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    padding: 2%;
    img {
        width: 100%;
        cursor: pointer;
    }
    h2 {
        cursor: pointer;
        padding-top: 2%;
        font-size: 18px;
        font-weight: bold;
    }
    p{
        padding-top: 2%;
        font-size: 15px;
    }
}